#sidebar{
    -fx-background-color: linear-gradient(to right, #000735, #010e66);
    
}

#menubar{
    -fx-background-color: #1d1d1e;
    -fx-background-radius: 10;
    
}

#loginLabel{
    -fx-background-color: #1d1d1e;
    -fx-background-radius: 50;
}

#buttonSignIn{
    -fx-background-color: #ff7d0c;
}

#topBar{
    -fx-background-color: #181838;
}

#labelView{
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #4300c9;
}

#signUpButton{
	font-family: 'Roboto';
    -fx-background-color: #FFFFFF;	
	-fx-background-radius: 0;
}

#buttonPrint{
	-fx-background-radius: 10;
	-fx-background-color: #ff7d0c;
}

#fieldLogin{
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #262626;	
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color:grey;
	-fx-border-radius:3px; 
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: #ff6a00;
}

#buttonLogin{
	-fx-background-color: transparent;
    -fx-border-color: #ff0000;
        -fx-border-radius: 5;
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

#buttonLearn{
	-fx-background-color: transparent;
	-fx-border-color: #ff0000;
    -fx-border-radius: 5;
}


#buttonLearn2{
    -fx-background-color: transparent;
    -fx-border-color: #FFF;
    -fx-border-radius: 5;
    -fx-border-width: 1 0 1 1;
}


#signInText{
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #f8534d;
	-fx-padding: 5;
}

#signInText2{
	-fx-padding: 5;
}